@import "./colors.scss";

.threeD_notebook {
    background-color: $main-dark;
    padding-top: 5rem;
    

    span {
        color: $main-light-brown;
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-style: italic;
        font-size: 33px;
    }

    canvas {
        cursor: pointer;
        width: 100% !important;
        height: 100% !important;
    }
}