@import "./colors.scss";

.about-noteBook {
    background-color: $main-dark;
    color: $main-light-brown;
    
    .row {
        flex-direction: row-reverse;
    }

    p {
        width: 300px;
    }

  }
  
  .about-noteBook-titles-right {
    border-right: 2px solid $main-light-brown;

    h2, h3 {
        width: 100%;
        text-align: end;
    }
  }

  .about-noteBook-titles-left {
    border-left: 2px solid $main-light-brown;

    h2, h3 {
        width: 100%;
        text-align: end;
    }
  }
  
  @media (max-width: 768px) {
    .about-noteBook {
      padding: 0 !important;

      .row {
        flex-direction: column-reverse;
      }

      p {
        width:  auto;
      }
    }
  
    .about-noteBook .border-end {
      border-right: none !important;
    }
  
    .about-noteBook-titles {
      border-right: none;
      align-items: center !important;
      margin-bottom: 20px;

      h2, h3 {
        text-align: start;
      }
    }
  }