@import "./colors.scss";

footer {
    height: 300px;
    background-color: $main-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        color: #fff;
        text-align: center;
    }

    p{
        text-align: left !important;
    }

    img {
        border-radius: 50%;
    }
}
  
.footerIcons {
    display: block;
    width: 50px;

    img {
        width: 100%;
    }
}
  
@media (max-width: 768px) {
    .githubLink {
      margin-bottom: 55px;
    }
}