.purpose i {
    color: #000;
}

.purposes i {
    font-size: 45px;
}

@media (max-width: 768px) {
    .purpose {
        margin-bottom: 0 !important;

        .card {
            margin-top: 30px;
        }
    }
}